/* ion-content {
  --ion-background-color: #ffffff;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#h1{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 85%;
}

#progress{
  margin-left: 25%;
  width: 50%;
  visibility: hidden;
}

logo{
  margin-top: 80%;
} */

ion-content {
  --ion-background-color: #ffffff;

}

#logo{
  margin-top: 80%;
}

.buttonMain{
  width: 48%;
}

ion-card-title{
  font-size: small;
  margin-bottom: 5%;

}

ion-card{
  background-color: mintcream;
}

#chat{
 margin-left: 10%;
 position: relative;
}

#settings{
  position: relative;
  margin-left: 70%;
}

#pb{
  width: 15%;

}

#sortOutButton{
  margin-left: 30%;
  margin-top: 10%;
}

#goButton{
  margin-left: 20%;
}


#entfernung{
  margin-bottom: 10%;
}