

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

ion-content {
    --ion-background-color: #ffffff;
}

ion-input{
  --background: rgba(0,0,0,0);
  --color: black;
  --padding-bottom:0;
  --padding-end:0;
  --padding-start:0;
  --padding-top:0;
  --margin:0;
  padding-top:0;
  width:100%;
  border-radius:0px;

}

ion-input::placeholder{
  left:0;
}

ion-button{
  --ion-color-danger: #66a8ff;
  bottom: 0;
  left:0;
  width: 95%;
  margin-top: 60%;
  position: absolute;
}

ion-label{

}

.buttonSignUp{
}

#SignUpBtn{
  margin-top: 54.5%;
}



#test001{
  background-color: red;
}

#h1{
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
    font-size: 200%;
    margin-bottom: 10%;
    font-family: 'Poppins', sans-serif;
}

.label{
    width: 90%;
    border-radius: 3px;
    margin-top: 2%;
    margin-left: 5%;
    color:gray;

    --background:white;
    --border-radius: 0px;
    --border:1px solid black;
}

.label:hover{
  width: 90%;
  border-radius: 3px;
  margin-top: 2%;
  margin-left: 5%;
  color:gray;
  --border-radius: 0px;
  --border:1px solid black;
}

#email{

}

#save{

  position: absolute;
  font-family: 'Poppins';
  width:70%;
  bottom:0;
  left:0;
  margin-left:5%;
  border-radius: 5px;
  padding:7%;
  background-color: #8AA1B1;
}



ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }

  #buttonSignUp{
    margin-top: 30%;
  }

  #errorWarning{
    color: rgb(172, 50, 50);
    z-index: -1;
  }





/*
.circle1 {
    position: absolute;
    z-index: -1;
    background: #8AA1B1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.circle2 {
  position: absolute;
  z-index: -1;
  background: #8DBEFF;
  border-radius: 60%;
  width: 150px;
  height: 150px;
  right: 0;
  margin-top:-30%;
}

.circle3 {
  position: absolute;
  z-index: -1;
  background: #FFCB47;
  border-radius: 60%;
  width: 150px;
  height: 150px;
  margin-top:-30%;
  left: 20;
}
*/