<ion-header>
  <ion-toolbar>
    <ion-title>SignUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <ion-text>
        <h1 id="h1">Sign Up</h1>
      </ion-text>
      <div class="slide">
        <ion-item class="label">
          <ion-label for="email"></ion-label>
          <ion-input id="email" placeholder="E-Mail"></ion-input>
        </ion-item>
        <ion-item class="label">
          <ion-label></ion-label>
          <ion-input id="confirmEmail" placeholder="Confirm E-Mail"></ion-input>
        </ion-item>
        <ion-item class="label">
          <ion-label></ion-label>
          <ion-input id="password" placeholder="Password" type="password"></ion-input>
        </ion-item>  
        <ion-item class="label">
          <ion-label></ion-label>
          <ion-input id="confirmPassword" placeholder="Confirm Password" type="password"></ion-input>
        </ion-item>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-text>
        <h1 id="h1">Sign Up</h1>
      </ion-text>
      <ion-item class="label">
        <ion-label></ion-label>
        <ion-input placeholder="Firstname"></ion-input>
      </ion-item>
      <ion-item class="label">
        <ion-label></ion-label>
        <ion-input placeholder="Lastname"></ion-input>
      </ion-item>
      <ion-item class="label">
        <ion-label>Sex</ion-label>
        <ion-select value="notifications" placeholder = "Choose" interface="action-sheet">
          <ion-select-option value="enable">with EderEderEderEder</ion-select-option>
          <ion-select-option value="mute">Female</ion-select-option>
          <ion-select-option value="mute_undefined">Nil</ion-select-option>
          <ion-select-option value="mute_undefined">diverse</ion-select-option>
          <ion-select-option value="mute_undefined">Martin</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item class="label">
        <ion-label></ion-label>
        <ion-input id="age" type="number" placeholder="age"></ion-input>
      </ion-item>
      <ion-text>
        <p id="errorWarning"></p>
      </ion-text>
      <ion-button id="buttonSignUp"(click)="SignUp()">Sign-Up</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
