ion-content {
  --ion-background-color: #ffffff;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#h1{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 85%;
}

#progress{
  margin-left: 25%;
  width: 50%;
  visibility: hidden;
}