<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><img src="https://www.tips.at/image/thumb/news/750482/340581/800x800x0/1458568844.5548-selbstversorger-aus-leidenschaft.jpg"></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Firstname:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lastname:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>E-Mail:</ion-label>
    </ion-item>
    <p>Activities</p>
    <div id="activitieBox">

    </div>
  </ion-list>

  <ion-button id="saveButton" expand="full">Save</ion-button>

</ion-content>
