<ion-content>
  <div id="loginBox">
    <ion-text>
        <img id="logo" src="../../assets/images/Logo_BlackWhite.svg">
        <h2 id="h1">Login</h2>
      </ion-text>
      <div class="slide">
        <ion-item class="label">
          <ion-label for="email"></ion-label>
          <ion-input id="email" type="mail" placeholder="E-Mail"></ion-input>
        </ion-item>
        <ion-item class="label">
          <ion-label for="password"></ion-label>
          <ion-input id="password" type="Password" placeholder="Password"></ion-input>
        </ion-item>
      </div><br>

      <ion-button shape="round"  id="buttonSignUp" (click)="Login()" color="primary">Login</ion-button>
  </div>



  <div id="signBox">
    <p shape="round" id="signUpBtn" (click)="signUpBtn()" >Sign Up</p>
  </div>
  <ion-text>
  </ion-text>
</ion-content>