<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mainpage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>3km Entfernt</ion-card-subtitle>
      <ion-card-title>Username</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-button size="large" color="danger">Dislike</ion-button>
  <ion-button size="large" color="success"> Like </ion-button>
</ion-content>