#saveButton{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    margin-right: 25%;
    margin-bottom: 2%;
}

#addBtn{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    margin-right: 26%;
    margin-bottom: 2%;
}

#h1{
    margin-left: 5%;
    text-align: center;
}

.headline{
    font-size: 100%;
}

#headline1{
    font-size: 100%;
    margin-left: 5%;
}