<ion-content>
  <!-- <ion-list>
    <ion-item>
      <ion-label><img src=""></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Firstname:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lastname:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>E-Mail:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Activities:</ion-label>
      <div id="activitieBox"> -->

      <!-- </div>
    </ion-item>
    <ion-item>
      <ion-label>Description:</ion-label>
      <ion-text></ion-text>
    </ion-item>
    
  </ion-list> -->
  <h1 id="h1">Profile Settings</h1>
  <br>
  <ion-list id="list" >
    <ion-item>
      <h2 class="headline" position="stacked">Firstname</h2>
      <ion-label position="stacked">{{ (user$ | async)?.fname }}</ion-label>
      <ion-textarea id="firstname" placeholder="new firstname"></ion-textarea>
    </ion-item>

    <ion-item>
      <h2 class="headline" position="stacked">Lastname</h2>
      <ion-label position="stacked">{{ (user$ | async)?.lname }}</ion-label>
      <ion-textarea id="lastname" placeholder="new lastname"></ion-textarea>
    </ion-item>

    <h1 id="headline1" position="stacked">Activities</h1>
    <ion-item>
      <ion-chip *ngFor="let a of (aktivitys$ | async);let index as i">
        <ion-label color="dark">{{a.name}}</ion-label>
        <ion-icon (click)="delete(a)" name="close-circle"></ion-icon>
        <br>
      </ion-chip>
    </ion-item>

    <h1 id="headline1" position="stacked">Add Activities</h1>
    <ion-item>
      <ion-input placeholder="Activity"></ion-input>
      <ion-button id="addBtn">Add</ion-button>
    </ion-item>

    <!-- <ion-item>
      <h2 class="headline" position="stacked">Password</h2>
      <ion-label position="stacked">password</ion-label>
      <ion-textarea placeholder="change password"></ion-textarea>
      <ion-button>Submit</ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-textarea placeholder="change password"></ion-textarea>
    </ion-item> -->
  </ion-list>

  <div (click)="update()">
    <ion-icon style="font-size: 300%; color:rgb(0, 0, 0);background:rgba(81, 255, 110, 0.3);border-radius: 50%;overflow: hidden;margin-left:50%;margin-top:5%;display: inline-block;" name="checkmark-circle"></ion-icon>
  </div>
  <div (click)="cancel()">
    <ion-icon style="font-size: 300%; color:rgb(0, 0, 0);background:rgba(255, 93, 75, 0.637);border-radius: 50%;padding:0%;float:left;margin-left:27.5%;margin-top:-19%;display: inline-block;" name="close-circle"></ion-icon>
  </div>
  

</ion-content>