<ion-content color="light">
  <h1 id="h1">Welcome</h1>
  <p id="p">Choose your favorite activities you do in your freettime</p>
  <!-- <hr id="hr"> --> 
    <ion-searchbar animated placeholder="Search activity"></ion-searchbar>

  <div *ngFor="let activity of (activities | async)">
    {{ activity }} a
  </div>

<!--   <ion-grid>
    <ion-row>
      <ion-col>
        <img class="img" alt="Party" src="../../assets/images/party.jpg">
        <div class="centered">Party</div>
      </ion-col>
      <ion-col>
        <img class="img" src="../../assets/images/essen.jpg">
        <div class="centered">Food</div>
      </ion-col>
      <ion-col>
        <img class="img" src="../../assets/images/basketball.png">
        <div class="centered">Basketball</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="img" alt="Party" src="../../assets/images/bake.png">
        <div class="centered">Baking</div>
      </ion-col>
      <ion-col>
        <img class="img" src="../../assets/images/camera.png">
        <div class="centered">Photography</div>
      </ion-col>
      <ion-col>
        <img class="img" src="../../assets/images/car.png">
        <div class="centered">Car</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="img" alt="Party" src="../../assets/images/cinema.png">
        <div class="centered">Cinema</div>
      </ion-col>
      <ion-col>
        <img class="img" src="../../assets/images/coffee.png">
        <div class="centered">Coffee</div>
      </ion-col>
      <ion-col>
        <img class="img" src="../../assets/images/dance.png">
        <div class="centered">Dancing</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="img" alt="Party" src="../../assets/images/drink.png">
        <div class="centered">Drinking</div>
      </ion-col>
      <ion-col>
        <img class="img" src="../../assets/images/fashion.png">
        <div class="centered">Fashion</div>
      </ion-col>
      <ion-col>
        <img class="img" src="../../assets/images/food.png">
        <div class="centered">Eating</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="img" alt="Party" src="../../assets/images/football.png">
        <div class="centered">Soccer</div>
      </ion-col>
      <ion-col>
        <img class="img" src="../../assets/images/essen.jpg">
        <div class="centered">EAT</div>
      </ion-col>
      <ion-col>
        <img class="img" src="../../assets/images/essen.jpg">
        <div class="centered">EAT</div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>