--ion-content{
    background-color: #fff;
}

.activitat{
    // border-radius: 20px;
    width: 45%;
    color: #000;
    margin-left:3.25%;
    float:left;
    margin-bottom: 5%;
}

h5{
    font-family: 'Arial';
    font-size: 90%;
    text-align: center;
}

.img:hover{
    opacity: 1;
    width: 90vw;
    height: 30vw;
    color: #000;
    border-radius: 50%;
    transition-duration: 1s;
}

.centered{
    margin-top: 10%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}

#h1{
    margin-left: 2%;
    text-align: left;
    font-weight: bold;
}

#p{
    margin-left: 2%;
}

#hr{
    width: 75%;
    margin-left: 10%;
    height: 5px;
    border: solid 2px #fff;
}

ion-col{
    margin-bottom: 20%;
}

ion-searchbar{
    border-radius: 25px;
}