<ion-header>
  <ion-toolbar>
    <ion-icon id="chat" name="chatbox-ellipses-outline"></ion-icon>
    <ion-icon id="settings" name="settings-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <!-- <ul>
    <li style="color:black;" *ngFor="let user of (users$ | async); index as i">
      {{ i + 1 }}. {{ user.fname }}
    </li>
  </ul> -->
  <div id="cardBox">
    <ion-card style="position:absolute;background-color:rgba(0,0,0,1);z-index:0;" *ngFor="let user of (users$ | async); index as i">
      <ion-card-header>
        <ion-card-subtitle id="entfernung">5km entfernt</ion-card-subtitle>
        <ion-card-title>{{user.fname}} {{user.lname}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div id="descriptionBox">
          Alter: {{user.age}} <br>
          Studium: Fitnesstrainer <br>
          Sport: Fitnesstudio <br>
          nächstes Training: morgen 11:30
    
        </div>
        <br><br>
    
        <ion-chip>
          <ion-label color="success">Football</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label color="success">F1</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label color="danger">Basketball</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </div>
   <ion-button id="dislike" class="buttonMain" color="medium" (click)="dislike()">Dislike</ion-button>
    <ion-button id="like" class="buttonMain" color="medium" (click)="like()">Like</ion-button>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="flame"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="switchToContactPage()" tab="about">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

