ion-content {
    --ion-background-color: #ffffff;
    --ion-color:black;
}

.buttonMain{
    margin-left:4%;
    width: 44%;
    margin-top:150%;
}

#pb{
    margin-left: 40%;
    margin-bottom: 10%;
}

#entfernung{
    margin-bottom: 10%;
}

.clickBtn{
    width:25%;
    position:fixed;
    margin-top:150%;
    float:right;
    margin-right: 10%;
    background: rgba(0,0,0,0.2);
    padding:3%;
    border-radius:2px;
}