ion-content {
    --ion-background-color: #ffffff;
    --ion-color:black;
}

ion-card{
    border:none;
}

.buttonMain{
    margin-left:4%;
    width: 44%;
    margin-top:150%;
}

#pb{
    margin-left: 40%;
    margin-bottom: 10%;
}

#entfernung{
    margin-top:15%;
}

.clickBtn{
    width:25%;
    position:fixed;
    margin-top:150%;
    float:right;
    margin-right: 10%;
    background: rgba(0,0,0,0.2);
    padding:3%;
    border-radius:2px;
}

.bottom {
    background-color: lightsteelblue;
    margin: 6%;
    border-radius: 15px;
    height: 8%;
    margin-bottom: 10%;
}

.navitem{
    float:left;
    margin: 4.7%;
    font-size:140%;
    text-align: center;
}

.settings{
    margin-left: 10%;
    margin-top: 7%;
    size: 160%;

}

.imageBox{
    margin-top: 10%
}



.activityBox{
}

.activity{
    
    float:left;
    color: black;
    font-size: small;
    margin:1% 2% 3% 2%;
    font-weight: 500;
    background: rgb(228, 228, 228);
    padding:2% 6% 2% 6%;
    border-radius: 20px;
}

svg{
    margin-left: 10%;
    float: left;
}