ion-content {
    --ion-background-color: #ffffff;
    --ion-color:black;
}

ion-card{
    border:none;
}

.buttonMain{
    margin-left:4%;
    width: 44%;
    margin-top:150%;
}

#pb{
    margin-left: 40%;
    margin-bottom: 10%;
}

#entfernung{
    margin-top:15%;
}

.clickBtn{
    width:25%;
    position:fixed;
    margin-top:150%;
    float:right;
    margin-right: 10%;
    background: rgba(0,0,0,0.2);
    padding:3%;
    border-radius:2px;
}

.bottom {
    background-color: lightblue;
    margin: 10%;
    border-radius: 15px;
    height: 8%;
}

.settings{
    margin-left: 10%;
    margin-top: 7%;
    size: 160%;
    
}



.activityBox{
    margin-top:-20%;
}

.activity{
    float:left;
    color: black;
    font-size: small;
    margin:1% 2% 1% 2%;
    font-weight: 500;
    background: rgb(228, 228, 228);
    padding:3% 5% 3% 5%;
    border-radius: 20px;
}