ion-content {
    --ion-background-color: #ffffff;
    --ion-color:black;
}

.buttonMain{
    width: 48%;
}

#pb{
    margin-left: 40%;
    margin-bottom: 10%;
}

#entfernung{
    margin-bottom: 10%;
}